[user]
	name = Patricio Pérez
	email = pperez@boaboa.org
[color]
	ui = auto
[push]
	default = simple
[core]
	excludesfile = /home/pperez/.gitignore_global
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	trustExitCode = false
[diff]
	guitool = kdiff3
[difftool "kdiff3"]
	trustExitCode = false
[difftool]
	prompt = false
