[user]
	name = Patricio Pérez
	email = pperez@boaboa.org
[color]
	ui = auto
[push]
	default = simple
[core]
	excludesfile = /home/pperez/.gitignore_global
[merge]
        tool = p4merge
[mergetool "p4merge"]
        cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
        trustExitCode = true
[diff]
        tool = p4merge
[difftool "p4merge"]
        cmd = p4merge "$LOCAL" "$REMOTE"

